body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #111827;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #2563eb;
}

/* MAIN */
.main-content {
    margin-left: 240px;
    padding: 20px;
}

/* SEARCH BOX */
#searchInput {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

table th {
    background: #2563eb;
    color: white;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* BUTTONS */
.edit-btn {
    background: green;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}